/* media queries  */

/* ========= nav ==========*/
@media screen and (max-width: 320px) {
    .navbar {
        height: 100px;
    }
    .navbar__logo {
        margin-left: 40%;
        float: none;
    }
    .menu {
        margin: 0;
    }
    .menu__item {
        padding: 5px 10px 0 10px;
    }
    
}

/* ========= header ==========*/
@media screen and (max-width: 320px) {
    .header__aside {
        display: none;
    }
    .header__form {
        margin-top: 100px;
        float: none;
        width: 260px;
    }
    .form__content input {
        width: 240px;
    }
}

/* ========= social media ==========*/
@media screen and (max-width: 320px) {
    .social {
        display: none;
    }
}

/* ========= ft1 ==========*/
@media screen and (max-width: 320px) {
    .feature1 {
        display: none;
    }
}

/* ========= ft2 ==========*/
@media screen and (max-width: 320px) {
    .ft-list__img {
       display: none;
    }
    .ft-list__content {
        width: 280px;
        padding-left: 20px;
    }
}

/* ========= ft3 ==========*/
@media screen and (max-width: 320px) {
    .feature3 {
        height: 400px;
    }
    .ft-pic__img {
       display: none;
    }
    .ft-pic__content {
        width: 280px;
    }
}


/* ========= why awesome ==========*/
@media screen and (max-width: 320px) {
    .awesome {
        height: 1100px;
    }
    .content__item {
        width: 280px;
        margin-bottom: 30px;
    }
    .content__item:last-child {
     padding-left: 0;
}
}

/* ========= pricing ==========*/
@media screen and (max-width: 320px) {
    .pricing {
        height: 2000px;
    }
    .pricing__content {
        margin: 0;
    }
    .p-content__item {
        width: 280px;
        float: none;
        margin-bottom: 30px;
        margin-left: 20px;
    }
    .p-content__item:last-child {
    margin-left: 20px;
}
}

/* ========= testimonials  ==========*/
@media screen and (max-width: 320px) {
    .t-content__item {
        margin-bottom: 30px;
}
     .t-content__item:last-child {
         display: none;
    }
}

/* ========= axure  ==========*/
@media screen and (max-width: 320px) {
    .axure {
        height: 400px;
    }
}

/* ========= contact us  ==========*/
@media screen and (max-width: 320px) {
    .contact__form {
        margin: 0;
    }
    .form__inputs input {
    width: 280px;
}
    .contact__button {
        margin: 0 auto;
        transform: translate(70px, -150px);
    }
}


/* ========= footer  ==========*/
@media screen and (max-width: 320px) {
    footer {
        height: 100px;
    }
    .footer__icons a {
        width: 30px;
    }
}









/*
@media screen and (max-width : 1280px) {
    .tabs__text {
        margin-left: 200px;
    }
    .pricing__content {
        margin: 0 100px;
    }
    .t-content__item {
        width: 240px;
    }
    .form__inputs input {
        width: 480px;
    }
    .form__message {
        width: 480px;
    }
    .contact__button {
        margin: 30px 560px 0 560px;
    }
    footer {
        height: 90px;
    }
}

@media screen and (min-width : 980px) and (max-width: 1200px) {
    .links__text {
        width: 280px;
    }
    .icons__list a {
        width: 60px;
        height: 60px;
    }
    .tabs__text {
        margin-left: 250px;
    }
    .tabs__img {
        display: none;
    }
    .ft-list__img img, .ft-pic__img img {
        width: 300px;
        margin-top: 60px;
    }
    .feature1 {
        height: 500px;
    }
    .feature2 {
        height: 500px;
    }
    .feature3 {
        height: 400px;
    }
    .awesome {
        height: 570px;
    }
    .content__item {
        width: 250px;
    }
    .pricing__content {
        margin: 0 100px;
    }
    .p-content__item {
        width: 230px;
    }
    .p-list__item {
        font-size: .9em;
    }
    .t-content__item {
        width: 230px;
    }
    .t-content__item__text {
        width: 220px;
    }
    .t-content__item:first-child {
        margin-right: 40px;
    }
    .t-content__item:last-child {
        margin-left: 40px;
    }
    .contact {
        height: 500px;
    }
    .contact__form {
        margin: 0 100px;
    }
    .form__inputs, .form__inputs input, .form__message {
        width: 360px;
    }
    .form__inputs input {
        margin-bottom: 10px;
    }
    .form__message {
        height: 162px;
    }
    .contact__button {
        margin: 30px 410px 0 410px;
    }
    footer {
        height: 90px;
    }
}

@media screen and (max-width : 800px) {
    .menu {
        margin-right: 100px;
    }   
    .header__aside {
        width: 45%;
    }
    .aside__head {
        font-size: 1.5em;
    }
    .header__form {
        width: 310px;
    }
    .form__content input {
        width: 260px;
    }
    .social__links {
        margin: 20px 8%;
    }
    .links__text {
        width: 250px;
    }
    .icons__list a {
        width: 55px;
        height: 55px;
    }
    .tabs__list, .ft-list__img, .ft-pic__img {
        display: none;
    }
    .tabs__text, .ft-list__content {
        margin: 0 auto;
        width: 600px;
    }
    .feature1 {
        height: 400px;
    }
    .feature2 {
        height: 460px;
    }
    .feature3 {
        height: 330px;
    }
    .ft-pic__content {
        margin: 0 auto;
        margin-left: 30px;
        width: 600px;
    }
    .content__item {
        width: 200px;
    }
    .pricing__content {
        margin: 0 70px;
    }
    .p-content__item {
        width: 200px;
    }
    .p-list__item {
        font-size: .8em;
    }
    .p-content__item:first-child {
    margin-right: 30px;
    }
    .p-content__item:last-child {
        margin-left: 30px;
    }
    .t-content__item {
        width: 190px;
    }
    .t-content__item__text {
        width: 190px;
    }
    .t-content__item:first-child {
        margin-right: 20px;
    }
    .t-content__item:last-child {
        margin-left: 20px;
    }
    .testimonials__content {
        margin: 20px 10% 20px 10%;
    }
    .contact {
        height: 500px;
    }
    .contact__form {
        margin: 0 60px;
    }
    .form__inputs, .form__inputs input, .form__message {
        width: 315px;
    }
    .form__inputs input {
        margin-bottom: 10px;
    }
    .form__message {
        height: 162px;
    }
    .contact__button {
        margin: 30px 330px 0 310px;
    }
}


@media screen and (max-width : 768px) {
    
}




*/
/* Large screens ----------- */
/*some CSS*/

/* Desktops and laptops ----------- */
@media only screen and (max-width : 1824px) {...}

/* iPads (landscape) ----------- */
@media only screen and (max-width : 1224px) {...}

/* iPads (portrait) ----------- */
@media only screen and (max-width : 1024px) {...}

/* Smartphones (landscape) ----------- */
@media only screen and (max-width : 768px) {...}

/* Big smartphones (portrait) (ie: Galaxy 3 has 360)*/
@media only screen and (max-width : 640px) {...}

/* Smartphones (portrait) (ie: Galaxy 1) */
@media only screen and (max-width : 321px) {...}

The second approach is to go 'Mobile First'. That mean that your base CSS will aim at small screens like the IPhone 4. Then your media query will overwrite your classes to adapt to bigger screens. Here's and example :

/* Smartphones (portrait) ----------- */

/* Ipad2 (portrait) ----------- */
@media only screen and (min-width : 768px){...}

/* Ipad2 (paysage) ----------- */
@media only screen and (min-width : 1024px){...}

/* Ordi (Petit) ----------- */
@media only screen and (min-width : 1224px){...}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1824px){...}
