/* ===== General CSS ===== */
body {
    width: 100%;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    font-size: 14px;
}


/* top navigation */
.navbar {
    width: 100%;
    height: 70px;
    background: #000;
}

.navbar__logo {
    float: left;
    margin-top: 20px;
    margin-left: 10.7%;
    transition: all 0.3s ease;
}

.navbar__logo:hover {
    transform: scale(1.05);
}

.navbar__menu {
   float: right;
}

.menu {
    margin-top: 30px;
    margin-right: 150px;
}

.menu__item {
    display: inline;
    padding-left: 45px;
}

.menu__item a {
    text-decoration: none;
    color: #fff;
    opacity: .7;
    font-weight: 600;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    transition: all 0.3s ease;
}

.menu__item a:hover {
    opacity: 1;
}


/* header banner */
.header {
    width: 100%;
    height: 640px;
    background: url('../img/slider-image.png');
    background-color: #000;
}

header {
    padding: 7.8% 10.7% 10% 10.7%;
 /*padding: 110px 150px 140px 150px;*/
}

/* head text */
.header__aside {
    float: left;
    color: #fff; 
    width: 53%;
}

.aside__logo {
    margin-bottom: 30px;
}

.aside__head {
    text-transform: uppercase;
    font-size: 2.6em;
    margin-bottom: 40px;
    font-family: 'Raleway', sans-serif;
}

.aside__head:after {
    content: "";
    width: 65px;
    height: 2px;
    background: #fff;
    display: block;
    margin-top: 40px;
}

.aside__text {
    font-size: 1.14em;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    width: 86%;
    opacity: .8;
    line-height: 1.4em;
    margin-bottom: 45px;
}

.button-primary {
    color: #fff;
    text-decoration: none;
    padding: 10px 35px;
    border: 2px solid #fff;
    font-size: 1.07em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600px; 
    transition: all 0.3s ease;
}

.button-primary:hover {
    border-radius: 10px;
}
    

/* head form */
.header__form {
    float: right;
    width: 360px;
    height: 360px;
    background: #fff;
    border-radius: 5px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.form__top {
    background: #f5f5f5;
    height: 53px;
    font-size: 1.4em;
    text-transform: capitalize;
    color: #333;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700; 
    padding-top: 22px;
}

.form__top span {
    color: #ff8b38;
    text-transform: uppercase;
}

.form__content input {
    border: none;
    border-bottom: 1px solid #d6d6d6;
    margin-top: 30px;
    width: 286px;
    transition: all 0.5s ease;
}

.form__content input[placeholder] {
    color: #c5c5c5;
    font-size: 1em;
    padding: 10px 0 10px 15px;
}

.form__content input:focus {
    border-color: #ff8b38;
    color: #333;
}

.form__footer {
    margin-top: 45px;
    background: #ff9b51;
    height: 40px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-top: 15px;
    transition: all 0.5s ease;
}

.form__footer:hover {
    background: #ff8b38;
}

.form__button {
    text-decoration: none;
    font-size: 1.07em;
    color: #fff;
    font-weight: 600;
    transition: all 0.3s ease;
}

.form__button:hover {
    font-size: 1.2em;
}


/* social media navigator */
.social {
    background: #fff;
    width: 100%;
    height: 115px;
    border-bottom: 2px solid #b7b7b7;
}

.social__links {
    margin: 20px 10.7%; 
    /*margin: 20px 150px;*/
}

.links__text {
    float: left;
    font-family: 'Open Sans', sans-serif;
    width: 360px;
}

.links__text__head {
    font-size: 1.7em;
    color: #333;
    font-weight: 700;
    margin-bottom: 15px;
}

.links__text__main {
    font-size: 1em;
    color: #a4a5a8;
    line-height: 1.4em;
}

.links__icons {
    float: right;
    margin-top: 15px;
}


/* 1st feature section */
.feature1 {
    width: 100%;
    height: 595px; 
    background: #f5f5f5;
}

.tabs {
    padding: 9.28% 140px 7.9% 100px;
}
.tabs__main {
    float: left;
    position: relative;
}

.tabs__list {
    position: absolute;
    list-style: none;
}

.tabs__list__item {
    padding: 45px 35px;
    background: #333;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 1px;
    border-radius: 5px;
    transition: all .3s ease-in;
}

.selected {
     background: #ff8b38;
}

.tabs__list__item:hover {
    background: #ff8b38;
}

.tabs__text {
    margin-top: 15px;
    font-family: 'Open Sans', sans-serif;
    width: 480px;
    margin-left: 250px;
}

.tabs__text__head {
    color: #000;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 55px;
}

.tabs__text__content{
    font-size: 14px;
    color: #86878b;
    margin-bottom: 50px;
}

.button-secondary {
    color: #fff;
    background: #ff8b38; 
    padding: 15px 24px;
    font-weight: 600;
    border-radius: 5px;
    text-decoration: none;
    font-size: 15px;
    transition: all .3s ease-in;
}

.button-secondary:hover {
    background: #ff9b51;
}

.tabs__img {
    float: right;
    margin-top: 50px;
    transition: all .3s ease-in;
}

.tabs__img:hover {
    transform: scale(1.01);
}



/* 2nd feature section */

.feature2 {
    width: 100%;
    height: 600px;
}

.ft-list { 
    padding: 7.8% 10.7% 7.8% 9.2%;
    /*padding: 110px 150px 135px 130px;*/
}

.ft-list__img {
    float: left;
    margin-top: 20px;
    transition: all .3s ease-in;
}

.ft-list__img:hover {
    transform: scale(1.01);
}

.ft-list__content {
    float: right;
    width: 430px;
    font-family: 'Open Sans' sans-serif;
}

.list__content__head {
    color: #212121;
    font-weight: 700;
    font-size: 1.4em;
    margin-bottom: 30px;
}

.list__content__head:after {
    content: "";
    display: block;
    width: 64px;
    height: 2px;
    background: #ff8b38;
    margin-top: 30px;
}

.list__content__text {
    margin-bottom: 40px; 
    color: #86878b;
    line-height: 1.4em;
    font-size: 1em;
}

.content__list {
    margin-left: 50px;
    position: relative;
}

.content__list__head {
    color: #212121;
    font-size: 1em;
    font-weight: 600;
    margin-bottom: 10px;
    margin-left: 15px;
}

.content__list__head:before {
    content: url('../img/small-icon-ft-2.png');
    background-repeat: no-repeat;
    border: 2px solid #ff8b38;
    border-radius: 100%;
    padding: 10px;
    position: absolute;
    left: -50px;
    
}

.content__list__text {
    margin-left: 15px;
    margin-bottom: 30px;
    color: #86878b;
    font-size: 1em;
    line-height: 1.4em;
}



/* 3rd feature section */
.feature3 {
    width: 100%;
    height: 520px;
    background: #f5f5f5;
}

.ft-pic {
    padding: 6.4% 8.5% 8.5% 10.7%;
    /*padding: 90px 120px 120px 150px;*/
}

.ft-pic__content {
    float: left;
    width: 460px;
    margin-top: 20px;
}

.pic__content__head {
    color: #212121;
    font-weight: 700;
    font-size: 1.4em;
    margin-bottom: 30px;
}

.pic__content__head:after {
    content: "";
    display: block;
    width: 64px;
    height: 2px;
    background: #ff8b38;
    margin-top: 30px;
}

.pic__content__text {
    margin-bottom: 40px; 
    color: #86878b;
    line-height: 1.4em;
    font-size: 1em;
}

.ft-pic__img {
    float: right;
    transition: all .3s ease-in;
}

.ft-pic__img:hover {
    transform: scale(1.01);
}



/* why awesome section */
.awesome {
    width: 100%;
    height: 530px;
    font-family: 'Open Sans', sans-serif;
}

.awesome__top {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 80px;
}

.top__head {
    text-transform: uppercase;
    font-size: 2.6em;
    margin-bottom: 30px;
    color: #212121;
    font-family: 'Raleway' sans-serif;
}

.top__head:after {
    content: "";
    display: block;
    width: 64px;
    height: 2px;
    background: #ff8b38;
    margin: 0 auto;
    margin-top: 30px;
}

.top__text {
    color: #86878b;
    font-size: 1em;
}

.awesome__content {
    margin: 0 5.6%;
    text-align: center;
}

.awesome__content ul {
    margin-left: -30px;
}

.content__item {
    width: 340px;
    list-style: none;
    display: inline-block;
    font-family: 'Open Sans', sans-serif; 
}

.content__item:first-child {
    padding-right: 30px;
}

.content__item:last-child {
     padding-left: 30px;
}

.content__item img {
    padding: 20px;
    border: 2px solid #ff8b38;
    border-radius: 100%;
    margin-bottom: 30px;
}

.content__item__head {
    font-weight: 700;
    color: #333;
    margin-bottom: 30px;
}

.content__item__text {
    color: #86878b;
    font-size: 1em;
}


/* pricing section */
.pricing {
    width: 100%;
    height: 880px;
    font-family: 'Open Sans', sans-serif;
    background: #f5f5f5;
}


.pricing__top {
    text-align: center;
    padding-top: 100px;
    margin-bottom: 80px;
}

.p-top__head {
    text-transform: uppercase;
    font-size: 2.6em;
    margin-bottom: 30px;
    color: #212121;
    font-family: 'Raleway' sans-serif;
}

.p-top__head:after {
    content: "";
    display: block;
    width: 64px;
    height: 2px;
    background: #ff8b38;
    margin: 0 auto;
    margin-top: 30px;
}

.p-top__text {
    color: #86878b;
    font-size: 1em;
}

.pricing__content {
    margin: 0 130px;
}

.p-content__item {
    display: inline-block;
    float: left;
    text-align: center;
    width: 330px;
    height: 510px;
    background: #fff;
}

.p-content__item:first-child {
    margin-right: 40px;
}

.p-content__item:last-child {
    margin-left: 40px;
}

.p-content__item__wrap {
    height: 210px;
    color: #fff;
    background: #333;
    transition: all .3s ease;
}

.p-content__item__wrap:hover {
    background: #222;
}

.p-item__head {
    font-size: 1.4em;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    padding-top: 25px;
    margin-bottom: 10px;
}

.p-item__head:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #fff;
    margin-top: 20px;
}

.p-content__price {
    font-family: 'Raleway', sans-serif;
    font-size: 2em;
    font-weight: 700;
}

.p-content__price span {
    font-size: 2.5em;
}

.p-item__text {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    color: #fff;
    opacity: .5;
    font-style: italic;
    font-weight: 600;
    margin-top: 10px;
}

.p-item__additional {
    height: 5px;
    width: 100%;
    background: #ff8b38;
}

.p-content__list {
    list-style: none;
    padding-right: 30px;
}

.p-list__item {
    padding: 6px 0;
    font-size: 1em;
    color: #86878b;
    text-transform: uppercase;
}

.p-list__item:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #f5f5f5;
    margin-top: 12px;
}

.p-content__item__best {
    height: 245px;
    margin-top: -35px;
}

.p-item__additional__best {
    height: 40px;
    width: 100%;
    background: #ff8b38;
}

.p-item__additional__best p {
    padding-top: 10px;
    text-transform: uppercase;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

/* testimonials section */
.testimonials {
    width: 100%;
    height: 590px;
    font-family: 'Open Sans', sans-serif;
}

.testimonials__top {
    text-align: center;
    margin-top: 110px;
    margin-bottom: 100px;
}

.testimonials__content {
    margin: -30px 10% 100px 10%;
}

.t-content__item {
    display: inline-block;
    width: 260px;
}

.t-content__item:first-child {
    margin-right: 120px;
}

.t-content__item:last-child {
    margin-left: 120px;
}

.t-content__item__text {
    width: 240px;
    font-size: 1em;
    color: #86878b;
    font-style: italic;
    padding: 25px 14px;
    background: #f5f5f5;
}

.t-content__photo {
    margin-top: 20px;
    width: 260px;
}

.t-content__figcapture {
    margin-right: 80px; 
    height: 40px;
    float: right;
}

.t-content__figcapture p {
    font-size: 1.4em;
    font-weight: 700;
    color: #333;
    margin-bottom: 15px;
}

.t-content__figcapture span {
    font-size: 1em;
    color: #86878b;
}



/* axure design section */
.axure {
    background: url('../img/city-design.png') no-repeat;
    background-color: #000;
    background-size: cover;
    width: 100%;
    height: 320px;
}

.axure__top {
    text-align: center;
    padding-top: 70px;
    padding-bottom: 60px;
    font-family: 'Raleway' sans-serif;
}

.ax-top__head {
    text-transform: uppercase;
    font-size: 2.6em;
    margin-bottom: 30px;
    color: #fff;
}

.ax-top__head:after {
    content: "";
    display: block;
    width: 64px;
    height: 2px;
    background: #fff;
    margin: 0 auto;
    margin-top: 30px;
}

.ax-top__text {
    font-weight: 300;
    color: #fff;
    opacity: .8;
    font-size: 1.14em;
    margin-bottom: 40px;
}



/* contact form */
.contact {
    width: 100%;
    height: 610px;
}

.contact__top {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 80px;
}

.c-top__head {
    text-transform: uppercase;
    font-size: 2.6em;
    margin-bottom: 30px;
    color: #212121;
    font-family: 'Raleway' sans-serif;
}

.c-top__head:after {
    content: "";
    display: block;
    width: 64px;
    height: 2px;
    background: #ff8b38;
    margin: 0 auto;
    margin-top: 30px;
}

.c-top__text {
    color: #86878b;
    font-size: 1em;
}

.contact__form {
    margin: 0 120px;
}

.form__inputs {
    float: left;
    width: 520px;
}

.form__inputs input {
    width: 520px;
    height: 30px;
    color: #333;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid #d6d6d6;
    transition: all .5s ease-in;
}

.form__inputs input:focus {
    color: #333;
    border-color: #ff8b38;
   
}

.contact__form input[placeholder] {
    padding: 10px;
    font-size: 1em;
    color: #bdbdbd;
}

.form__message {
    float: right;
    width: 520px;
    height: 180px;
    border: none;
    border-bottom: 1px solid #d6d6d6;  
    transition: all .5s ease-in;
}

.form__message:focus {
    border-color: #ff8b38;
    color: #333;
}

textarea[placeholder] {
    padding: 10px 0 0 10px;
    font-size: 1em;
    color: #bdbdbd;
    font-family: sans-serif;
}

.contact__button {
    background: #ff9b51;
    margin: 30px 44% 0 44%;
    border: none;
    cursor: pointer;
}

.contact__button:hover {
    background: #ff8b38;
}

/* footer */
footer {
    width: 100%;
    height: 80px;
    background: #000;
    text-align: center;
    color: #fff;
}

.footer__text {
    opacity: 0.5;
    font-size: 0.85em;
    font-family: 'Open Sans' sans-serif;
    margin-top: 8px;
}